
/*responsive layout*/
@media (min-width: 768px) and (max-width: 1023px) {
	.banner-image{
		background-position:30% 50%;
	}
	.banner-text img{
		width: 24vw;
	}
	.banner-title {
    	font-size: 5.5vw;
	}
	.office-address{
		font-size: 1.5vw;
	}
	.location-address .fa-map-marker{
		font-size: 2vw; 
	}
	.office-address-mask .office-address:nth-child(2) {
	    float: left;
	    padding-left: 0vw;
	}
	.office-address-mask .office-address:nth-child(2) .fa-circle{
		font-size: 0.8vw;
		padding-right: 2vw;
	}
	.social-instagram{
		font-size: 1.5vw;
	}
	.social-links .fa{
		font-size: 2vw;
	}
	.office-address-mask{
		padding-left: 1vw;
	}
	.social-instagram{
		padding: 0vw 0.8vw 0vw 0vw;
	}
	.social-links .fa{
		padding-right: 0.2vw;
	}
	.office-address span {
	    float: left;
	    min-width: 7.5vw;
	}
	.office-address{
		font-size: 1.5vw;
		min-width: 28vw;
	}
	.office-address-mask .office-address:nth-child(2) .fa {
	    font-size: 0.8vw;
		min-width: auto;
		padding-right: 1.5vw;
	}
}
/*mobile vertical layout*/
@media only screen and (max-width: 767px) {
	.banner-text img{
		width: 60vw;
	}
	.banner-title{
		font-size: 7.5vw;
	}
	.location-address {
    	padding-left: 5vw;
	}
	.location-address .fa-map-marker {
    	font-size: 4vw;
	}
	.office-address-mask .office-address:nth-child(2) .fa{
		font-size: 2vw;
	}
	.office-address-mask .office-address:nth-child(2) .fa-circle{
		font-size: 1vw;
		padding-right: 2.5vw;
	}
	.social-links {
	    margin-top: 5vh;
	}
	.social-links{
    	display: flex;
	}
	.social-instagram  {-webkit-order: 1;}
	.social-instagram  {order: 1; padding:0vw 4vw 0vw 0vw;}
	.social-facebook  {-webkit-order: 2;}
	.social-facebook  {order: 2;}
	.social-links .fa{
		font-size: 4vw;
		padding-right:1vw;
	}
	.office-address,
	.social-facebook,
	.social-instagram{
		font-size: 2.5vw;
	}
	.banner-image{
		background-position:36% 50%;
	}
	.office-address span{
	    float: left;
	    min-width: 11vw;
	}
	.office-address{
		min-width: 45vw;
	}
	.office-address-mask .office-address:nth-child(2){
		min-width: auto;
	}

}
/*mobile horizontal layout*/
@media (min-width: 480px) and (max-width: 767px) {
	.banner-text img{
		width: 21vw;
	}
	.banner-title {
	    font-size: 4vw;
	    margin-top: 7vh;
    	margin-bottom: 12vh;
	}
	.location-address .fa-map-marker{
		left: 0vw;
		font-size: 2.2vw;
	}
	.social-links .fa{
		font-size: 2vw;
	}
	.location-address{
		padding-left: 3vw;
	}
	.office-address{
		font-size: 1.5vw;
		min-width: 28vw;
	}
	.social-facebook,
	.social-instagram{
		font-size: 1.5vw;
	}
	.office-address span{
	    float: left;
	    min-width: 7vw;
	}
	.office-address-mask .office-address:nth-child(2) .fa {
	    font-size: 0.8vw;
		min-width: auto;
		padding-right: 1.5vw;
	}
}
