@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic.woff2') format('woff2'),
        url('../fonts/CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Century Gothic';
    src: url('../fonts/CenturyGothic-Bold.woff2') format('woff2'),
        url('../fonts/CenturyGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
body{
    float: left;
    width: 100%;
    font-family: 'Century Gothic';
    font-style: normal;
}
.banner-image{
    float: left;
    width: 100%;
    background: url(../images/background-image.jpg) no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
}
.banner-text-mask{
    float: left;
    width: 100%;
    height: 100vh;
    display: table;
}
.banner-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.banner-text img{
    float: none;
    width: 21vw;
    display: inline-block;
}
.banner-title{
    font-size: 4vw;
    color: #ffffff;
    font-weight: bold;
    margin-top: 8vh;
    margin-bottom: 15vh;
}
.address-social-info{
    width: 90vw;
    margin:0 auto;
}
.location-address-mask{
    float: left;
    text-align: left;
    width: 100%;
}
.social-links-mask{
    float: left;
    text-align: left;
    width: 100%;
}
.location-address{
    /*background: url(../images/address-pin.png) no-repeat;
    background-position: 2px 5px;
    height: 25px;*/
    padding-left: 1.5vw;
    position: relative;
}
.location-address .fa-map-marker{
    font-size: 1.5vw;
    position: absolute;
    left: 0;
    color: #fff;
}
.social-links{
    width: 100%;
}
.social-links .fa{
    font-size: 1.5vw;
    color: #ffffff;
}
.office-address-mask{
    float: left;
    width: 100%;
}
.office-address{
    float: left;
    /*width: 345px;*/
    font-weight: bold;
    padding-right: 2vw;
    font-size: 1.2vw;
    color: #ffffff;
}
.office-address-mask .office-address:nth-child(2){
    float: left;
    padding-left: 2vw;
}
.office-address-mask .office-address:nth-child(2) .fa{
    padding: 0vw 1vw;
    font-size: 0.5vw;
    color: #fff;
    position: relative;
    top: -0.2vw;
}
.social-instagram{
    float: right;
    /*background: url(../images/instagram-logo.png) no-repeat;
    background-position: 0px 0px;*/
    padding: 0vw 1vw 0vw 0vw;
    /*height: 26px;*/
    font-size: 1.2vw;
    color: #ffffff;
    font-weight: bold;
}
.social-facebook{
    float: right;
    /*background: url(../images/facebook-logo.png) no-repeat;
    background-position: 0px 0px;*/
    padding-left: 0vw;
    /*height: 25px;*/
    font-size: 1.2vw;
    color: #ffffff;
    font-weight: bold;
}


